html
  head
    meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
    title Hello Express + Jade!
    link(rel="stylesheet", type="text/css", href= "#{baseurl}/css/main.css")
  body
    != body
