extends layout

block content 
  p Hellow
  form(action= "#{baseurl}/upload", enctype="multipart/form-data",method="post")
    input(type="file",name="upload",multiple="multiple")
    input(type="submit",value="Upload")
